body {
	background-color: black;
}
h1 {
	color: white;
	text-align: center;
	font-family: "Times New Roman", Times, serif;
}
p.one {
	color: white;
	text-align: center;
	font-family: "Times New Roman", Times, serif;
}
